#pragma once

// Copie este arquivo para secrets.h e personalize credenciais da placa.
// Os valores serão usados automaticamente por config.cpp.

#define MQTT_SERVER_DEFAULT "wa2fc908.ala.us-east-1.emqxsl.com"
#define MQTT_PORT_DEFAULT 8883
#define MQTT_USER_DEFAULT "seu_usuario"
#define MQTT_PASSWORD_DEFAULT "sua_senha"
#define MQTT_CLIENT_ID_DEFAULT "esp32-dlsc808-grupoX-01"
#define MQTT_GROUP_DEFAULT "grupoX"
