PORT=3000
# Prefixo para tópicos MQTT (ex.: grupo4)
GROUP=grupoX

# MongoDB (em Docker Compose, será sobrescrito para mongodb://mongo:27017/iot2025)
MONGO_URI=mongodb://localhost:27017/iot2025

# Broker MQTT
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_PROTOCOL=mqtt
#MQTT_USERNAME=
#MQTT_PASSWORD=

# IDs dos ESPs do cenário do laboratório
LAB_ESP1_ID=esp1
LAB_ESP2_ID=esp2
LAB_ESP3_ID=esp3
LAB_ESP4_ID=esp4

# Pinos do cenário
LAB_VIB_PIN=26
LAB_RELAY_PIN=27
LAB_LED_GREEN_PIN=15
LAB_LED_YELLOW_PIN=2
LAB_LED_RED_PIN=4
LAB_ENCODER_PIN=14

# Regras do cenário
LAB_PASSCODE=1234
LAB_TEMP_LIMIT=30
LAB_DOOR_OPEN_TIMEOUT_MS=5000